@keyframes wobble {
	0%	 { transform: scale(0.97, 0.92); }
	25%	 { transform: scale(1.03, 1.06); }
	60%	 { transform: scale(0.97, 0.95); }
	100% { transform: scale(1.0,  1.0); }
}

canvas {
	transition: 0.5s;
}

.mapTile {
	
}

.mapTile.transparent {
	opacity: 0.7;
}

.mapTile.transparent canvas {
	width: 128px;
	height: 128px;
}

.mapTile.inList canvas {
	width: 64px;
	height: 64px;
	
	
}