
@font-face {
    font-family: nunwoff;
    src: url("../fnt/nunito-v9-latin-regular.woff2") format('woff2');
	src: url("../fnt/nunito-v9-latin-regular.woff") format('woff');
	font-style: normal;
	font-weight: normal;
}

@font-face {
    font-family: nunwoff;
    src: url("../fnt/nunito-v9-latin-800.woff2") format('woff2');
	src: url("../fnt/nunito-v9-latin-800.woff") format('woff');
	font-style: normal;
	font-weight: 800;
}

html{
	height: 100%;
}

body {
	margin: 0 !important;
	padding: 0 !important;
	
	height: 100%;
	
	overflow: hidden;
	
	white-space: nowrap;
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	
	color: #7664a0;
	
	font-size: 16px;
	font-family: "nunwoff", "Helvetica", "Arial", sans;
	line-height: 170%;
}

a {
	color: #58f898;
	font-weight: bold;
}

a:hover {
	color: #e40058;
}

.icon {
	font-weight: normal;
	text-transform: none;
	font-size: 1.5em;
	vertical-align: middle;
	line-height: 0;
}

#appWindow {
	display: flex;
	flex-flow: column;
	height: 100%;
}



#toolPanel {
	background: #fff;
	border-bottom: solid 4px #251e30;
	
	width: 100%;
	
	padding: 14px 20px;
	
	font-size: 20px;
	
	box-sizing: border-box;
	flex: 0 1 auto;
}

#toolPanel button {
	background: #fff;
	border-bottom: none;
	margin-bottom: 0px;
	
	font-size: 16px;
}

#toolPanel button:hover {
	background: #d6d1ea;
}

#toolPanel button:active {
	background: #2f283c;
}

#title {
	float: right;
	margin: 2px 6px;
	
	font-size: 14px;
}


#mainPanel {
	
	
	width: 100%;
	
	box-sizing: border-box;
	flex: 1 1 auto;
	
	overflow: scroll;
}

#listPanel {
	background: #251e30;
	
	width: 100%;
	
	padding: 0px 0px;
	
	font-size: 20px;
	
	display: table;
	overflow-x: scroll;
	
	box-sizing: border-box;
	flex: 1 1 auto;
	
	height:100px;

}

#mapSpace {
	position: relative;
	min-width: 3000px;
	min-height: 2000px;
	left: 0px;
	top: 0px;
	
	background: #2f283c;
	background-image: url("../img/background-cat.png"), url("../img/background-grid.png");
	background-position: center, left top;
	background-repeat: no-repeat, repeat;
	background-attachment: fixed, local;
}



.mapTile {
	position: relative;
}

.abs { position: absolute !important; }

canvas {
	background: #251e30;
	box-shadow: 0 3px 0 1px #251e30;
	
	border-radius: 4px;
	
	width: 128px;
	height: 128px;
	
	position: absolute;
	
	image-rendering: pixelated;
	cursor: move;
}


#listPanel .mapTile {
	display: inline-block;
	
	transition: 1s;
}

#listPanel .mapTile canvas {
	
	vertical-align: middle;
	
	transition: 1s;
}

.mapTile.settled canvas {
	/*position: relative;*/
	
	width: 64px;
	height: 64px;
}


	



.content {
	
}

.dialog {
	background: #fff;
	box-shadow: 0 3px 0 1px #251e30;
	
	border-radius: 4px;
	
	top: 80px;
	left: 30px;
	
	display: block;
	position: absolute;
	
	min-width: 100px;
	
	z-index: 10000;
}

.dialog .title {
	background: #ece8ff;
	
	border-radius: 4px 4px 0px 0px;
	
	padding: 10px 14px;

	font-size: 18px;
}

.dialog .content {
	padding: 14px;
	padding-bottom: 0px;
	
	white-space: normal;
	
	font-size: 14px;
}



.field, textarea {
	overflow: scroll;
	resize: both;
}

.field, textarea, input {
	border: solid 1px #dfd6f4;
	border-radius: 2px;
	
	min-height: 22px;
	padding-left: 8px;
	
	font-size: 13px;
	font-family: monospace;
}

.control {
	background: #ece8ff;
	border: none;
	
	border-radius: 4px;
	
	display: inline-block;
	
	padding: 8px 12px 7px 12px;
	
	color: #7664a0;
	font-size: 16px;
	font-weight: bold;
}

.button, button, textarea, p, .field, .control {
	margin: 0px;
	margin-bottom: 14px;
	
	display: block;
}

.button, button {
	background: #ece8ff;
	border: none;
	border-bottom: solid 2px #ded5f3;
	
	border-radius: 4px;
	
	display: inline-block;
	
	padding: 8px 12px 7px 12px;
	
	color: #7664a0;
	font-size: 16px;
	font-weight: bold;
}

button+button {
	margin-left: 10px;
}

.button:hover, button:hover,
.button:focus, button:focus {
	background: #d6d1ea;
}

.button:active, button:active {
	background: #2f283c;
	color: #fff;
	
	border-bottom: solid 2px #2f283c;
}

button.close {
	border: none;
	
	right: 8px;
	top: 8px;
	
	position: absolute;
	
	padding: 6px 10px;
	margin: 0;
	
	font-size: 14px;
}